asgiref 
certifi
cffi
charset-normalizer
click 
colorama   
cryptography
decorator 
Django
django-cors-headers
django-filter
django-rest-framework
django-rest-knox
djangorestframework
dynaconf
hvac
idna
knox
loguru
pip
pycparser
pyhcl
pytz
requests
setuptools
shortuuid
sqlparse
tzdata
urllib3
validators
win32-setctime
django-environ
psycopg2